.site-container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.inner {
  width: 930px;
  margin: 0 auto;
}

.header-wrapper {
  font-size: 24px;

  .header-top {
    border-bottom: 1px solid #56585a;
    position: relative;
    padding: 24px 0;
    @include clearfix();

    .logo {
      float: left;
    }

    .contacts {
      float: right;
      text-align: right;

      span {
        display: block;
      }
    }
  }

  .header-bottom {

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        list-style: none;
        font-size: 20px;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}

.btn {
  text-align: center;

  a {
    font-size: 36px;
    color: #fff;
    background: #2a456e;
    @include border-radius(10px);
    width: 395px;
    text-decoration: none;
    display: inline-block;
    padding: 16px 25px;
    @include transition(all .3s);

    &:hover {
      background: #396ca4;
    }
  }
}

.content-wrapper {

  h1 {
    margin: 60px 0 60px 100px;
  }

  .img {
    position: relative;
    margin-bottom: 70px;
    height: 965px;

    img {
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
    }
  }

  .section-one, .section-two, .section-three, .section-four, .section-five {
    border-bottom: 1px solid #56585a;
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  h3 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 40px 0;
    text-transform: uppercase;
  }

  ol {
    font-size: 34px;
    margin-bottom: 60px;
  }

  .items {
    text-align: center;

    .item {
      display: inline-block;
      border: 1px solid #000;
      text-align: center;
      width: 330px;
      height: 330px;
      font-size: 29px;
      padding: 15px;
      @include box-sizing(border-box);
      position: relative;
      margin: 0 250px 80px 0;
      vertical-align: top;

      &:nth-child(2n) {
        margin-right: 0;
      }

      img {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        bottom: 20px;
      }

      span {
        display: block;
      }
    }
  }

  .section-four{
    font-size: 36px;
    text-align: center;
  }
}