.site-container {
  width: 1200px;
  margin: 0 auto;
}

.header-wrapper {

  .header-top {
    height: 58px;
    background: #475a60;
    font-size: 20px;
    font-family: "Times New Roman";

    a {
      color: #20363d;
      text-decoration: none;

      &.active, &:hover {
        color: #000;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
      }
    }

    .login-system {
      float: left;
      padding: 18px 0;
    }

    .language {
      float: right;

      li {
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }

        a {
          width: 50px;
          height: 26px;
          @include text-hide();
          display: block;
        }

        &:first-child a {
          background: image-url('bg/rus.png');
        }

        &:nth-child(2) a {
          background: image-url('bg/eng.png');
        }
      }
    }

    .logo {
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
      top: 0;
    }
  }

  .header-middle {
    background: image-url('bg/header-middle-bg.jpg');
    height: 440px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-bottom {
    @include clearfix();

    .nav {
      position: relative;
      left: 50%;
      @include transform(translateX(-50%));
      width: 1140px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        float: left;
        list-style: none;

        a {
          display: block;
          background: image-url('bg/nav-el.png') no-repeat center;
          width: 227px;
          height: 80px;
          font-size: 26px;
          text-shadow: 1px 1px 8px #000;
          text-transform: uppercase;
          color: #fff;
          font-weight: 900;
          padding: 13px 0;
          text-align: center;
          text-decoration: none;
          @include box-sizing(border-box);
        }
      }
    }
  }
}

.content-wrapper {

  h3 {
    text-align: center;
    font-family: $SegoeScript;
    font-weight: 900;
    font-size: 22px;
    text-shadow: 1px 1px 1px #000;
    text-transform: uppercase;
    margin: 0;
    padding: 20px 0;
  }

  h4 {
    text-transform: uppercase;
    margin: 0;
    padding: 15px 0;
    color: #fff;
    background: #475a60;
    font-size: 31px;
    text-align: center;
  }

  .section-one {
    @include background-image(linear-gradient(#ecf5fe 0%, #b3d9fe 100%));

    .left-part {
      width: 317px;
      height: 800px;
      background-size: cover;
      position: relative;
      display: inline-block;
      vertical-align: top;
      z-index: 2;

      &:after {
        @include pseudo-block($top: 0, $left: 0);
        @include oneline-sprite-box($icons, side);
        z-index: -1;
      }

      .rulet {
        position: absolute;
        bottom: -390px;
        left: -31px;
        @include oneline-sprite-box($icons, rulet);
      }

      &:before {
        @include pseudo-block($bottom: -22px, $left: 0);
        @include oneline-sprite-box($icons, side-bottom);
        z-index: -2;
      }

      .statistic {
        text-align: center;
        position: absolute;
        font-family: $SegoeScript;
        font-weight: bold;
        text-transform: uppercase;
        left: 48px;
        top: 123px;

        span {
          display: block;

          &:nth-child(2n) {
            margin-bottom: 50px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .right-part {
      display: inline-block;
      width: 870px;
      vertical-align: top;

      h3 {
        color: #5f727f;
      }

      .desc {
        text-align: center;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        &:nth-child(2n) {

          .text {
            margin-right: 20px;
            margin-left: 0;
          }
        }

        .text {
          width: 470px;
          display: inline-block;
          vertical-align: middle;
          text-transform: uppercase;
          font-family: $SegoeScript;
          font-weight: bold;
          margin-right: 0;
          margin-left: 20px;
          line-height: 1.4;
        }

        .img {
          width: 400;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }

  .section-two {
    min-height: 420px;
    background-color: #fff;
    background-image: image-url('bg/sec-two-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;

    h3 {
      font-size: 31px;
      color: #ff0301;
    }
  }

  .section-three {
    min-height: 580px;
    background-color: #fff;
    background-image: image-url('bg/sec-three-bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;

    h3 {
      font-size: 31px;
      color: #ff0301;
    }

    .text {
      width: 650px;
      text-transform: uppercase;
      font-family: $SegoeScript;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      margin-left: 50px;
    }
  }
}