@font-face {
  font-family: 'SegoeScript';
  src: url('../fonts/SegoeScript.eot');
  src: url('../fonts/SegoeScript.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SegoeScript.woff') format('woff'),
  url('../fonts/SegoeScript.ttf') format('truetype'),
  url('../fonts/SegoeScript.svg#SegoeScript') format('svg');
  font-weight: normal;
  font-style: normal;
}